# Python cached files
__pycache__

# Python environments
*venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints 

# Workspace-specific directores
.idea
.vscode

# Link files to external repositories
maraboupy
neural_clbf
